<h1>
    MANUALES
</h1>

@if (cargando()){
    <p>Cargando manuales...</p>
}

@if(error()){
    <p>Error al cargar los manuales. Por favor, inténtelo de nuevo más tarde.</p>
}

@if(!cargando() && !error()){
    <div class="grid">
        @for(manual of manuales(); track manual.manual_code) {
            <div class="manual">
                <h2 class="manual-code" (click)="sumarClick()">{{ manual.manual_code }}</h2>
                <p>{{ manual.name }}</p>
            </div>
        }
    </div>
}